body, ul, h1, h2, h3, img, p, hr, span {
    margin: 0;
    padding: 0;
}

.box {
    width: 980px;
    height: 1386px;
    border: 1px solid gray;
    margin: 0 auto;
}

ul {
    list-style: none;
}

.topHead {
    position: relative;
}

.topDiv {
    width: 110px;
    height: 61px;
    background: #da3e75;
    margin-left: 43px;
}

.topDiv p {
    font-size: 12px;
    color: #ffffff;
    font-family: '黑体';
    padding-top: 46px;
    padding-left: 7px;
}

.topDate {
    font-size: 12px;
    color: #d45d5c;
    font-family: '黑体';
    position: absolute;
    right: 44px;
    top: 46px;

}

.topLine {
    background: #938e8c;
    width: 892px;
    height: 2px;
    margin: 0px auto;
}

.topLeftPic {
    margin: 34px 0 0 43px;
    position: relative;
    width: 641px;

}

.topLeftPic img {
    float: left;
}

.tlPicLeft {
    width: 191px;
    height: 301px;
    background: rgba(210, 90, 90, 0.3);
    position: absolute;
    left: 0;
    top: 0;
}

.tlPicRight {
    width: 191px;
    height: 301px;
    background: rgba(60, 227, 24, 0.2);
    position: absolute;
    right: 0;
    top: 0;
}

.topRightTxt hr {
    height: 2px;
    background: #cc8091;

}

.topRightTxt {
    width: 202px;
    float: left;
    margin-left: 48px;

}

.topFoot {
    clear: left;
}

.topRightTxt h2:nth-child(2) {
    margin-top: 13px;
}

.topRightTxt h2:nth-child(2), .topRightTxt h2:nth-child(3) {
    font-size: 24px;
    text-decoration: underline;
    color: #000000;
    font-family: "微软雅黑";
}

.topRightTxt p:nth-child(4), .topRightTxt p:nth-child(5) {
    font-size: 12px;
    color: #aea9a6;
    font-family: '楷体';
}

.topRightTxt p:nth-child(5) {
    margin-top: 3px;
}

.topRightTxt h1:nth-child(6) {
    font-size: 92px;
    font-family: "微软雅黑";
    font-style: italic;
    color: #75b86c;
    margin-top: 10px;
    margin-left: -14px;
}

.topRightTxt h2:nth-child(7) {
    font-size: 55px;
    font-family: "黑体";
    color: #cc8091;
    float: left;
    margin-top: -11px;
}

.topRightFoot {
    width: 100px;
    height: 60px;
    float: left;
    margin-left: 7px;
}

.topRightP3 {
    color: #cc8091;
    font-size: 21px;
    font-family: '微软雅黑';
}

.topRightP4 {
    color: #b5b5b6;
    font-size: 12px;
    color: '微软雅黑';
}

.topFootLeftTxt {
    width: 228px;
    float: left;
    margin-left: 44px;
    margin-top: 41px;
}

.topFootMidTxt {
    width: 204px;
    float: left;
    margin-top: 41px;
    margin-left: 16px;
}

.topFootRightTxt {
    width: 132px;
    float: left;
    margin-top: 42px;
    margin-left: 27px;
}

.topFoot {
    width: 980px;
    height: 228px;
}

.topFoot h2 {
    font-size: 16px;
    font-weight: bolder;
    font-family: "微软雅黑";
    text-decoration: underline;
}

.topFootLeftTxt h2 {
    color: #428c59;
    margin-bottom: 5px;
}

.topFootMidTxt h2 {
    color: d8a565;
    margin-bottom: 5px;
}

.topFootRightTxt h2 {
    color: #cc7680;
    margin-bottom: 5px;
}

.topFootLeftTxt p {
    color: #898786;
    line-height: 18px;
    font-size: 12px;
    font-family: "宋体";
}

.topFootMidTxt p {
    opacity: 70%;
    line-height: 18px;
    color: #9c9897;
    font-size: 12px;
}

.topFootRightTxt li {
    line-height: 22px;
    font-size: 12px;
    color: #9c9897;
    font-family: '微软雅黑';
}

.Ul2 {
    margin-top: 24px;
    margin-left: 5px;
}

.Ul2 li span {
    font-style: italic;
    color: #df9586;
}

.foot {
    clear: left;
    margin-top: 56px;
}

.footTop {
    width: 418px;
    float: left;
}

.footTopHead {
    font-size: 33px;
    font-family: '黑体';
    font-weight: bold;
    color: #10456b;
    margin-left: 44px;

}

.footTopHead p {
    font-size: 42px;
    font-family: '黑体';
    font-weight: bold;
    color: #10456b;

}

.footTopHead p span {
    font-size: 72px;
    font-family: '黑体';
    font-weight: bold;
    font-style: italic;
    color: #f4e328;
}

.footTopHead p:nth-child(2) {
    margin-top: -10px;
}

.footTopHead p:nth-child(3) {
    margin-top: 1px;
}

.footTopHead hr {
    width: 416px;
    height: 2px;
    background: #10456b;
    margin-top: 13px;
}

.footTopFoot {
    width: 412px;
    margin-left: 46px;
    position: relative;
    float: left;
}

.footTopFoot p {
    font-size: 12px;
    color: #767777;
    font-family: '宋体';
    line-height: 16px;
}

.fCenterTop h2 {
    color: #ebed1b;
    font-size: 72px;
    font-family: '微软雅黑';
    margin-top: 9px;
    float: left;
}

.fCenterTop p {
    width: 336px;
    padding-top: 23px;
    margin-left: 78px;
}

.fCenterCenter p, .fCenterFoot p {
    width: 216px;
    clear: left;
    margin-top: 0px;
    margin-left: 1px;
}

.footCenterTxt {

}

.footCenterPic {
    position: absolute;
    left: 237px;
    top: 121px;
}

.footBottom {
    width: 460px;

    float: left;
    margin-left: 63px;
    margin-top: 6px;
}

.footBottomTxt {
    background: #eeedd6;
    margin-top: 30px;
}

.fBottomPic {
    width: 458px;
    height: 275px;

    position: relative;
    /* margin-top: 72px; */
    margin-top: 10px;
}

.fBottomPicShade span:nth-child(2) {
    font-size: 26px;
    font-style: '黑体';
    color: #ffffff;
    float: left;
    margin-top: 15px;
    margin-left: 12px;

}

.fBottomPicShade span:nth-child(3) {
    font-size: 12px;
    color: #72b069;
    font-family: '微软雅黑';
    /* letter-spacing: 140%; 如何设置字间距*/
    font-style: italic;
    margin-top: 29px;
    margin-left: 8px;
    float: left;
}

.fBottomPicShade {
    width: 458px;
    height: 61px;
    background: rgba(20, 24, 20, 0.4);
    position: absolute;
    left: 0;
    bottom: 0;

}

.fBottomPicShade hr {
    width: 3px;
    height: 44px;
    background: #72b069;
    margin-left: 38px;
    margin-top: 8px;
    float: left;
}

.fBottomTop {
    padding-top: 22px;
    padding-left: 30px;
}

.fBottomTop li {
    font-size: 12px;
    font-family: '宋体';
    font-style: italic;
    margin-left: -3px;

    background: url(../img/Triangle.jpg) no-repeat;
    background-position: 3px 15px;
    padding-left: 20px;
}

.footBottomTxt {
    background: #eeedd6;
    width: 460px;
    height: 318px;
}

.fBottomTop span {
    font-size: 16px;
    font-family: '宋体';
    color: #76726e;
    line-height: 32px;
    display: inline-block;
    font-style: normal;

}

.fBCenterLeft {
    width: 260px;
    height: 160px;
    background: #d45d5c;
    margin-top: 22px;
    float: left;
}

.fBCenterLeft span {
    font-size: 110px;
    font-family: '微软雅黑';
    color: #ffffff;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.fBCenterLeft hr {
    width: 2px;
    height: 86px;
    background: #ffffff;
    float: left;
    margin-left: 2px;
    margin-top: 40px;

}

.fBCenterLeft p:nth-child(3) {
    margin-top: 44px;

}

.fBCenterLeft p:nth-child(3), .fBCenterLeft p:nth-child(4) {
    font-size: 21px;
    font-family: '黑体';
    font-style: '倾斜';
    color: #ffffff;
    padding-left: 90px;
}

.fBCenterLeft p:nth-child(5) {
    width: 138px;
    font-size: 12px;
    color: white;
    font-family: '黑体';
    padding-left: 90px;
    margin-top: -1px;

}

.fBCenterRight {
    width: 160px;
    height: 150px;
    float: left;
    position: relative;
    margin-top: 33px;
    margin-left: 16px;
}

.fBCenterRight p:nth-child(2) {
    margin-left: 40px;
}

.fBCenterRight p:nth-child(2), .fBCenterRight p:nth-child(3) {
    font-size: 14px;
    font-family: '黑体';
    font-style: italic;
    line-height: 22px;
}

.fBCenterRight p:nth-child(1), .fBCenterRight p:nth-child(4) {
    font-size: 72px;
    font-family: '黑体';
    color: #d45d5c;
    font-style: normal;
    position: absolute;

}

.fBCenterRight p:nth-child(1) {
    top: -15px;
    left: -42px;
}

.fBCenterRight p:nth-child(4) {
    top: 107px;
    left: 110px;
}

.footAdd {
    clear: left;
    width: 892px;
    margin: 0px auto;
    padding-top: 36px;
}

.footAdd hr {
    background: #938e8c;
    width: 892px;
    height: 1px;

}

.footAdd span {
    font-size: 12px;
    color: #d45d5c;
    font-family: '黑体';
    float: right;
}
